DB_HOST=localhost
DB_USER=root 
DB_PASSWORD= 
DB_NAME=trainappdb
JWT_SECRET=supersecret123
PORT=5000                

GMAIL_USER=*******@gmail.com
GMAIL_APP_PASS=*******@

# For CORS - multiple origins
ALLOWED_ORIGINS=http://localhost:3000,https://jesselzapanta09.github.io/railmanager

# For email links - Deployed
CLIENT_URL=https://jesselzapanta09.github.io/railmanager

# For email links - Local
# CLIENT_URL=http://localhost:3000